body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
a{
	color: #fff;
	padding: .7rem 1rem;
	border-radius: .4rem;
	text-decoration: none;
	cursor: pointer;
}
h1{
	margin: 1rem 0;
	
}
p{
	margin: .5rem 0 1.5rem 0;
	color: #424242
}
.link{
	background: #418DF3;
}
.linkHome{
	background: #4EAC94;
}