body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
a{
	color: #fff;
	padding: .7rem 1rem;
	border-radius: .4rem;
	text-decoration: none;
	cursor: pointer;
}
.linkRamdon{
	background: #418DF3;
}
.linkHome{
	background: #4EAC94;
}